* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

p{
  text-align: center;
  margin: 0 auto;
}

.search-form{
  display: flex;
  column-gap: 0;
  justify-content: center;
  padding: 6px 0;
  background-color: #4463C9;
}

.form-input{
  width: 240px;
  color: #4463C9;
  border-radius: 3px 0 0 3px;
  border: 1px solid #4463C9;
  border: 0;
  border-color: #4463C9;
  padding: 0 0 0 3px;
  outline: transparent;
}

.form-btn{
  background-color: #CBCCD3;
  border-radius: 0 3px 3px 0;
  border: 1px solid #4463C9;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  padding: 6px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.search-icon{
  width: 12px;
  height: 12px;
  fill: #4463C9;
}

.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery {
display: flex;
flex-wrap: wrap;
column-gap: 10px;
row-gap: 10px;
}

.photo-card{
  width: calc((100% - 30px)/4);
  height: 272px;
  border: 1px solid #4463C9;
  border-radius: 10px;
}

.photo-wrap{
  /* border: 1px solid #4463C9; */
  /* border-radius: 10px 10px 0 0; */
  /* position: relative; */
  width: 100%;
  /* border-radius: 10px; */
}

/* .card-link {
  display: block;
  text-decoration: none;
  height: 100%;
} */

a{
  display: block;
  text-decoration: none;
  height: 100%;
}

.card-image{
  width: 100%;
  height: 216px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.info{
  display: flex;
  /* column-gap: 5px; */
  /* width: 260px; */
}

.info-item{
  /* display: flex;
  flex-wrap: wrap; 
  width: calc 25% - 10px; */
  /* padding: 5px; */
  /* border: 2px solid rgba(8, 1, 150, 0.236); */
  border-radius: 5px;

}